.card {
    border-width: 0.25em;
    border-style: solid;
    border-radius: 1em;

    display: block;
    padding: 0.5em 1em 0em 1em;
    margin: 1em;

    text-decoration: initial;
    color: initial;

    transition: all 0.2s ease-in-out;

    &:visited {
        color: initial;
    }

    &:hover {
        text-decoration: initial;
        color: initial;

        transform: scale(1.025);
    }
}
